.btn-primary {
    --bs-btn-bg: #fd0d0d;
}

.customSpan:hover {
    color: red;
}

.customSpan:active {
    color: rgb(85, 255, 0);
}

.customSpan:visited {
    color: rgb(0, 0, 0);
}

.container > div {
    line-height: 30px;
    background-color: grey;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

.containerCust {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.carousel-item > img {
    height: 250px;
}