/*
Element {
    atribute: value;
    atribute: value;
    atribute: value;
    atribute: value;
    atribute: value;
    atribute: value;
    ....
}
*/


        * {
        box-sizing: border-box;}
  
        .row {
        display: flex;}
  
        
                .overIMG2  {
                    background-image: url("./arnel-hasanovic-4oWSXdeAS2g-unsplash-3aa9018ab1a74e9796b929882a9e133e.webp");
                    height: 300px;
                    width: 400px;
                    line-height: 200px;
                    text-align: center;
                    background-size: cover;
                    padding: 10px; 
                    margin: 5px;}

                .overIMG3 {background-image: url("./GettyImages-1543007160-fed1bcabdee14029b83e5e7a2a0c06f6.webp");
                    height: 300px;
                    width: 400px;
                    line-height: 200px;
                    text-align: center;
                    background-size: cover;
                    padding: 10px;
                    margin:5px;}


                .overIMG4  { background-image: url("./onur-binay-uk5FrhKtr7E-unsplash-61bd7ebecee043dbad9abd9677638b3f.webp" );
                    height: 300px;
                    width: 400px;
                    line-height: 200px;
                    text-align: center;
                    background-size: cover;
                    padding:10px; margin:5px; }

              .overIMGPara {
                    text-shadow: 6px 4px 7px rgb(0 0 0 / 90%);
                    color:whitesmoke;
                    font-size: 20px;}

                    .overIMGPara1 {text-shadow: 6px 4px 7px rgba(25, 14, 235, 0.9);
                        color:rgb(239, 43, 186);
                        font-size: 25px; font-weight: bold;

                    }
                        
                        
                    .btn  { 
                        
                        color:rgb(3, 3, 29);
                        height:50px;
                        width: 150px;
                        background-color:rgb(247, 162, 228);
                        right:00px;
                        left:50%; 
                        bottom: 10px;
                        top: 50%;
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        padding:12px 24px }

                        
                        
            	           
  
                        
    
   
                












