.container {
    display: grid;
    grid-template-columns: auto 50px auto auto;
    grid-template-rows: 100px 50px;
    gap: 5px;
    background-color: grey;
}

.container > div, .custom, .extraGrid, .extraFlex {
    background-color: brown;
    font-size: 30px;
}

.contjust {
    justify-content: center;
}

.contjust1 {
    justify-content: start;
}

.contjust2 {
    justify-content: end;
}

.contjust3 {
    justify-content: space-around;
}

.contjust4 {
    justify-content: space-between;
}

.contjust5 {
    justify-content: space-evenly;
}

.contalign {
    align-items: center;
}

.contalign2 {
    align-items: center;
    justify-content: center;
}

.extraGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.extraGrid > div  {
    border: 1px black solid;
}

.extraGrid > div:nth-child(1) {
    grid-column: 1 / 4;
}

.extraGrid > div:nth-child(2) {
    grid-column: 4 / 5;
}

.extraGrid > div:nth-child(3) {
    grid-column: 5 / 7;
}

.extraGrid > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.extraGrid > div:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.extraGrid > div:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.extraGrid > div:nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.extraGrid > div:nth-child(8) {
    grid-column: 3 / 7;
    grid-row: 2 / 4;
}

.extraGrid > div:nth-child(9) {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
}

.extraGrid > div:nth-child(10) {
    grid-column: 5 / 7;
    grid-row: 4 / 5;
}

.extraGrid > div:nth-child(11) {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
}

.extraGrid > div:nth-child(12) {
    grid-column: 6 / 7;
    grid-row: 5 / 6;
}

.extraGrid > div:nth-child(13) {
    grid-column: 1 / 7;
    grid-row: 6 / 7;
}

.extraFlex {
    display: flex;
    flex-wrap: wrap;
}

.flexRow {
    width: 100%;
    display: flex;
}

.subRow4 {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
}

.subRow4 > div {
    width: 50%;
}

.subRow3 {
    display: flex;
    flex-wrap: wrap;
    width: 32%;
}

.subRow8, .subrow9 {
    width: 100%;
}

.subRow3 > div:nth-child(1) {
    width: 100%;
}

.subRow3 > div:nth-child(2), .subRow3 > div:nth-child(2) {
    width: 50%;
}

.extraFlex, .flexRow, .subRow4, .subRow8, .subRow9, .subRow3 {
    border: 1px black solid;
}

.fleeex {
    display: flex;
    flex-wrap: wrap;
}