.container {
    display: flex;
    background-color: grey;
}

/*
    2n - paaris
    2n + 1 - paaritu
    2n - 
        0 - 0
        1 - 2
        2 - 4
        3 - 6
        4 - 8
        5 - 10
        6 - 12
        7 - 14
*/
.container > div, .custom {
    background-color: brown;
    font-size: 30px;
    margin: 5px;
}

.contwrap {
    flex-wrap: wrap;
}

.contdir {
    flex-direction: column;
}

.contdir3 {
    flex-direction: row-reverse;
}

.contdir4 {
    flex-direction: column-reverse;
}

.contjust {
    justify-content: center;
}
.contjust2 {
    justify-content: space-around;
}

.contjust3 {
    justify-content: space-between;
}

.contjust4 {
    justify-content: space-evenly;
}

.contjust5 {
    justify-content: start;
}

.contjust6 {
    justify-content: end;
}

.contcent1 {
    height: 200px;
    align-items: center;
}

.contcent2 {
    height: 200px;
    align-items: center;
    justify-content: center;
}

.contcent3 {
    height: 200px;
    align-items: start;
}

.contcent4 {
    height: 200px;
    align-items: end;
}
.mobile {
    display: none;
}

.contgrow > div:nth-child(1) {
    flex-grow: 1;
}

.contgrow > div:nth-child(2) {
    flex-grow: 2;
}

.contgrow > div:nth-child(3) {
    flex-grow: 3;
}

.contgrow > div:nth-child(4) {
    flex-grow: 1;
}
.contgrow > div:nth-child(5) {
    flex-grow: 1;
}

.contbasis {
    flex-wrap: wrap;
}

.contbasis > div:nth-child(1) {
    flex-basis: 200px;
}

.contself {
    height: 200px;
}

.contself > div:nth-child(3) {
    align-self: end;
}

.contself > div:nth-child(1) {
    align-self: start;
}

.mainCont {
    display: flex;
    flex-wrap: wrap;
}
.header {
    width: 100%;
    background-image: url('./space1.avif');
    height: 150px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h2 {
    color: #ffffff;
    text-shadow: 2px 2px rgb(0, 0, 0);
    /*
        1. Nimi - Red/Blue/Gree/Yellow/....
        2. RGB - RedGreenBlue (R, G, B)
            0 -> 255
        2.1 RGBA - RedGreenBlueAlpha (R, G, B, A)
        3. HEX 000000

        0/1

        0000 = 0
        0001 = 1
        0010 = 2
        0011 = 3
        0100 = 4
        0101 = 5
        0110 = 6
        0111 = 7
        1000 = 8
        1001 = 9
        1010 = 10
        0000000010110101 = a
        ....

        1 + 1 = 2
        1 + 1 = 1
        1 + 1 = 11

 */
}

.menu {
    width: 20%;
}

.content {
    width: 80%;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 300px) {
    .contord > div:nth-child(1) {
        order: 2;
    }
    
    .contord > div:nth-child(2) {
        order: 1;
    }
    
    .contord > div:nth-child(3) {
        order: 5;
    }
    
    .contord > div:nth-child(4) {
        order: 4;
    }
    
    .contord > div:nth-child(5) {
        order: 3;
    }
}

@media screen and (max-width: 300px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mainCont {
        flex-direction: column;
    }

    .menu, .content {
        width: 100%;
    }
}